body{
	background-color: rgb(255,245,238);
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#banner {
	background-image: url(https://images.unsplash.com/4/jet-sky.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
	height : 100vh;
	background-size: cover;
	padding-top: 170px;
	text-align: center;
}

#title	{
	color:rgb(250,235,215);
	font-size: 40px;
	font-family:'Montserrat', sans-serif;
	letter-spacing: 10px;
	margin-bottom: 16px;
}

#minititle {
	color:rgb(250,235,215);
	font-size: 15px;
	font-family:'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.city	{
	color:black;
	font-size: 25px;
	font-family:'Montserrat', sans-serif;
	letter-spacing: 2px;
	border : 0.5px solid black;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 3px;
}

.description {
	margin-top: 10px;
	margin-bottom:7px;
}

.fab {
	color:black;
}

#link a {
	text-decoration: none;
	color : rgb(250,235,215);
	font-size: 12px;
}

#link a:hover{
color: black;
}

#footer {
	font-style: italic;
	margin-top: 40px;
	margin-bottom:5px;
}